<%= form_for(@shirt, :html => {:class => 'shirt-upload'}) do |f| %>
  <% if @shirt.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@shirt.errors.count, "error") %> prohibited this shirt from being saved:</h4>

      <ul>
      <% @shirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'large', :length => 40, :placeholder => 'The one with the unicorns and the rainbow' %>
  </div>
  <div class="field">
    <%= label_tag :image, "Photo" %>
    <%= file_field_tag :image %>
    <%= hidden_field_tag :params, { auth: {key: ENV['TRANSLOADIT_AUTH_KEY']}, template_id: "42cb74a7389c45da9e3739d63ff06cc7"}.to_json %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => 'Please tell us the story of this shirt', :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :url, "Source URL" %>
    <%= f.text_field :url, :placeholder => 'http://example.com' %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, :placeholder => 'comma, separated, tags' %>
  </div>
  <%- if @shirt.new_record? -%>
    <div class="field">
      <label>Shall we tweet this for you?</label>
    </div>
    <div class="field checkbox">    
      <%= f.check_box :want_tweet %>
      <%= f.label :want_tweet, "Yes, please" %>
    </div>
    <div class="field">
      <%= f.label :tweet, "This would be the text" %>
      <%= f.text_area :tweet, :rows => 2 %>
    </div>
  <%- end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="explanation">
  <p>Please give your T-Shirt a comprehensive and concise name</p>
  <p>It's okay to upload photos in portrait or landscape, but most of the time, portrait gives better results</p>
  <p>
    Please don't upload unprocessed 12 Megapixel jpegs directly from your Digicam. We pay for bandwith and although we shrink down
    the images before storing them, we have to pay for the data transfer of the fat ass 12 MP image to the image upload service. Which hurts.
  </p>
  <p>
    If you want to give your t-shirt a description, try to tell an interesting story, for example, where you bought (or got) the shirt, 
    how you found it or if there's any episode that you connect with wearing this t-shirt.
  </p>
  <p>If you bought the shirt online, feel free to add a source url to the product page of the online shop if possible. Somewhere 
    in the future this might enable us to start affiliate programs, which would be awesome to pay the server bills. In the meantime,
    it allows other people to shop for the t-shirt.
  </p>
  <p>
    We will hopefully be able to support you a bit more on the tagging front. So far, please separate tags with commas, and try to not 
    tag like a dizee rascal. Colors make great tags, vendors (tshirtstore, threadless, cafepress, rumpfkluft etc.) make great tags and
    genres (funny, remix, art, type) make great tags. Your mom doesn't make a great tag.    
  </p>
  <p>
    <i>
      If you are taking your photos on an iPhone (and file upload with the browser is out of question), you could send your picture to your own private
      straightouttacotton.com email address. We'll use the subject as the shirt name and any text you add to the mail as the description. Currently that 
      means that you can't add an URL to the Shirt by sending a mail.
    </i>
  </p>
  <p>In your case, that would be <b><%= mail_to "#{current_user.mailbox}@straightouttacotton.com" %></b></p>
</div>