<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %> - straight outta cotton</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "smallscreen", :media => "only screen and (max-width: 1023px)" %>
  <%= stylesheet_link_tag    "mobile", :media => "handheld, only screen and (max-width: 767px)" %>
  
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://assets.transloadit.com/js/jquery.transloadit2.js" %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/atom+xml" href="<%= @feed_url || shirts_url(:format => :atom) %>">
  <meta name="description" content="A Collection of clever tees from people who like clever tees">
  <meta name="keywords" content="tshirts, t-shirts, shirts, tees, collection, people">
  <meta name = "viewport" content = "width=device-width, initial-scale=1"> 
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24444888-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>  
</head>
<body class="<%= controller.controller_name %>">
  <section class="header">
    <div class="header-content">
      <h1><a href="/">straight<br/>outta<br/>cotton</a></h1>
      <section class="user-nav">
        <% if signed_in? %>
          signed in as <%= user_link(current_user) %>
          /
          <%= link_to "sign out", signout_path %>
          /
          <%= link_to "add your tee", new_user_shirt_path(current_user) %>
        <% else %>
          <%= link_to "sign in with twitter", "/auth/twitter" %>
        <% end %>
        <navigation class="feed-links">
          <%= link_to "ATOM", @feed_url || shirts_url(:format => :atom), :class => 'atom-link' %>
        </navigation>
      </section>
    </div>
  </section>
  <div class="container">
    <section class="main">
      <div class="content">
      <%= yield %>
      </div>
    </section>
  
  </div>
  <section class="footer">
    <div class="footer-text">
      <p>The T-Shirt Database</p>
      <p>&copy; Jan Krutisch</p>
      <p>
        <%= link_to "Imprint/Impressum", imprint_path %>
        | <%= link_to "Datenschutz", data_retention_path %>
      </p>
    </div>
  </section>
</body>
</html>
