<!DOCTYPE html>
<html>
<head>
  <title>Shirtbase</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "smallscreen", :media => "only screen and (max-width: 1023px)" %>
  <%= stylesheet_link_tag    "mobile", :media => "handheld, only screen and (max-width: 767px)" %>
  
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://assets.transloadit.com/js/jquery.transloadit2.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="header">
    <div class="header-content">
      <h1><a href="/">TSHIRTS</a></h1>
      <section class="user-nav">
        <% if signed_in? %>
          signed in as <%= user_link(current_user) %>
          /
          <%= link_to "sign out", signout_path %>
          /
          <%= link_to "add your tee", new_user_shirt_path(current_user) %>
        <% else %>
          <%= link_to "sign in with twitter", "/auth/twitter" %>
        <% end %>
      </section>
    </div>
  </section>
  <div class="container">
    <section class="main">
      <div class="content">
      <%= yield %>
      </div>
    </section>
  
  </div>
  <section class="footer">
    <div class="footer-text">
      <p>The T-Shirt Database</p>
      <p>&copy; Jan Krutisch</p>
      <p>
        <%= link_to "Imprint/Impressum", imprint_path %>
        | <%= link_to "Datenschutz", data_retention_path %>
      </p>
    </div>
  </section>
</body>
</html>
